input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}

:root {
    --coffee-color: #9f5629;
}

@font-face {
    font-family: Lobster;
    src: url(./font/Lobster-Regular.ttf);
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sign-up-left{
    flex: 1;
    background-image: url(./images/coffee.jpg);
    background-size: 100% 100%;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, .8);
    padding: 2rem; 
    margin-top: 200px;
}

img {
    height: 6rem;
}

img + p {
    font-family: Lobster;
    font-size: clamp(2rem, 3vw, 4rem);
}

.credit {
    font-size: clamp(.6rem, 1vw ,2rem);
    position: absolute;
    top: 97%;
    left: 9%;
}

.credit > span {
    text-decoration: underline;
}

.sign-up-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.container-header {
    flex: 1;
    padding: calc(1rem + 1vw) 5rem;
    font-size: clamp(1.2rem, 1.4vw, 4rem);
    background-color: #f9fafb;
}

.container-header > p:first-child {
    max-width: 60ch;
}

.container-header > p:nth-child(2){
    margin-bottom: 1.5rem;
    color: var(--coffee-color);
}

.sign-up-form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.form-inputs {
    padding: calc(1rem + 1vw) 5rem;
    flex: 1;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

h2 {
    font-size: clamp(1.2rem, 1.3vw, 2rem);
    margin-bottom: 1.5rem;
}

.container-inputs {
    display: flex;
    gap: 5rem;
    margin-bottom: 1rem;
}

.container-inputs  label {
    display: block;
    font-size: clamp(.4rem, .9vw, 2rem);
    text-transform: uppercase;
    color: var(--coffee-color);
}

.container-inputs input {
    width: 16rem;
    padding: .5rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
}

.container-inputs input:focus {
    border: 1px solid blue;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .3);
}

.container-inputs input:invalid {
    border: 1px solid red;
}

input[type="number"] {
    --moz-appearance: textfield;
}

.container-button{
    flex: 1;
    background-color: #f9fafb;
    padding: calc(1.2rem + 1vw) 5rem;
}

.btn-create {
    background-color: var(--coffee-color);
    border: 1px solid var(--coffee-color);
    color: white;
    font-family: inherit;
    font-size: clamp(10px, .9vw, 25px);
    font-weight: 600;
    padding: calc(.4rem + .5vw) 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .3);
}

.btn-create + p {
    font-size: clamp(10px, .9vw, 25px);
}

.btn-create + p > a {
    color: var(--coffee-color);
    text-decoration: none;
}

.incorrect {
    color: red;
    font-size: clamp(9px, .5vw, 1rem);
    display: none;
}

.invalid {
    border: 1px solid red !important;
}




