* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}

@font-face {
    font-family: Lobster;
    src: url(./font/Lobster-Regular.ttf);
}

body {
    font-size: 16px;
}

.container {
    display: flex;
    height: 100vh;
}

.sign-up-left{
    flex: 1;
    background-image: url(./images/coffee.jpg);
    background-size: 100% 100%;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, .8);
    padding: 1rem; 
    margin-top: 200px;
}

img {
    height: 6rem;
}

img + p {
    font-family: Lobster;
    font-size: 3rem;
}

.credit {
    position: absolute;
    top: 97%;
    left: 10%;
}

.sign-up-right {
    flex: 2;
    background-color: aquamarine;
}
